/footprints/IC/History
/footprints/Passive/History
/History
/symbols/Connectors/History
/symbols/IC/RF/History
~$Altium-library.xlsx
/footprints/Connectors/History
/symbols/IC/DIGITAL/History
/footprints/MISC/History
/symbols/MISC/History
/symbols/IC/Analog/History
/symbols/IC/Power/History
/symbols/IC/Processors/History
/other/Template/History
/symbols/Functional/History
/symbols/Diodes/History
